<!DOCTYPE html>
<html>
<head>
    <title>Welcome Email</title>
</head>
<body>
    
    <p>Welcome to our service! We are excited to have you on board.</p>
    <br/>
    <p>To get started, please verify your account using the following URL and the verification code provided:</p>
    <br/>
    <p style="font-size: 16px;"><a href="{{url}}" target="_blank">{{url}}</a></p>
    <p style="font-size: 24px; font-weight: bold;">{{code}}</p>
    <br/>
    <p>Once your account is verified, you can access all the features and benefits of our platform.</p>
    <br/>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <br/>
    <p>Thank you,</p>
    <p>The ChicMic Team</p>
</body>
</html>
